body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

header {
  padding: 30px;
  background: linear-gradient(45deg, #ff9800, #ff5722);
}

section {
  padding: 30px 15px;
}

.about p {
  max-width: 600px;
  margin: auto;
}

.videos {
  background: #1a1a1a;
}

.video-box {
  margin: 20px auto;
  max-width: 320px;
}

iframe {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.contact a {
  display: inline-block;
  margin: 10px;
  color: #ff9800;
  text-decoration: none;
  font-size: 18px;
}

footer {
  padding: 15px;
  background: #000;
}
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid rgb(160, 63, 63);
}
.music-btn {
  background: linear-gradient(45deg, #de0000, #ff5722);
  border: none;
  padding: 12px 20px;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 15px;
}
